body{
	margin-right: 20%
}

h1{
	position: relative;
	left: 30%
}

p{
	text-align: left;
	width: 60%;
	position: relative;
	left: 30%;
}

.parent{
	position: relative;
	height: 200px;
	width: 400px;
	background: darkgray;
	left: 30%;

}

.box-1{
	position: absolute;
	height: 100px;
	width: 200px;
	background: blue;
	bottom: -8%;
	left: 65%;
}

.box-2{
	position: fixed;
	height: 100px;
	width: 200px;
	background: gray;
	top: -2%;
	left: -3.2%;
}




